In [14]:
%pip install scipy
%pip install numpy
%pip install pandas
%pip install networkx
%pip install scikit-learn
%pip install tqdm

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\users\odo20\appdata\roaming\python\python312\site-packages (1.12.0)
Requirement already satisfied: numpy<1.29.0,>=1.22.4 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from scipy) (1.26.4)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\odo20\appdata\roaming\python\python312\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\odo20\appdata\roaming\python\python312\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: networkx in c:\users\odo20\appdata\roaming\python\python312\site-packages (3.2.1)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\odo20\appdata\roaming\python\python312\site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from scikit-learn) (3.3.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: tqdm in c:\users\odo20\appdata\roaming\python\python312\site-packages (4.66.2)
Requirement already satisfied: colorama in c:\users\odo20\appdata\roaming\python\python312\site-packages (from tqdm) (0.4.6)

In [40]:
import pandas as pd
import numpy as np
import networkx as nx
from scipy import sparse
from scipy.sparse.linalg import norm
from sklearn.model_selection import train_test_split
from typing import Tuple, Mapping, Any, Literal
from tqdm import tqdm
from scipy.sparse import coo_matrix
from enum import Enum
from typing import Optional
import time

In [16]:
df = pd.read_csv("res\\rating.csv")

In [17]:
df['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [18]:
df.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [19]:
def split_by_target_column_value(df: pd.DataFrame, test_size: float, target_column: str, target_value: Any,
                                 random_state: int = 42) -> Tuple[pd.DataFrame, pd.DataFrame, pd.DataFrame]:
    """
    Разделяет DataFrame на обучающий и тестовый наборы на основе определенного значения целевого столбца.
    Выдает в качестве тестового набора test_size от набора, в котором значение в target_column == target_value
    В тренировочном все остальное
    Параметры:
        df (pd.DataFrame): DataFrame для разделения.
        test_size: Пропорция данных, которые следует включить в тестовый набор.
        target_column (str): Название целевого столбца для разделения.
        target_value (Any): Значение целевого столбца, используемое для разделения.
        random_state (int): Зерно для генератора случайных чисел.

    Возвращает:
        Tuple[pd.DataFrame, pd.Series, pd.DataFrame, pd.Series]: Данные для обучения; тестовые данные для целевой колонки, которые не попали в data,
        тренировочные данные для целевой колоники, которые попали в data
    """
    grouped = df.groupby(by=target_column)
    train_df, test_df = train_test_split(grouped.get_group(target_value), test_size=test_size,
                                         random_state=random_state)
    data = pd.concat([group for ind, group in grouped if ind != target_value], ignore_index=True)
    data = pd.concat([train_df, data], ignore_index=True)
    return data, test_df, train_df

In [20]:
data, test1, train1 = split_by_target_column_value(df, test_size=0.5, target_column='userId', target_value=1)

In [21]:
data.head()

   userId  movieId  rating            timestamp
0       1     2288     4.0  2004-09-10 03:14:37
1       1     2648     3.5  2004-09-10 03:13:37
2       1     1222     3.5  2005-04-02 23:30:37
3       1     3037     3.5  2005-04-02 23:46:03
4       1     2683     3.5  2004-09-10 03:07:30

In [22]:
test1.head()

     userId  movieId  rating            timestamp
156       1     7045     3.5  2005-04-02 23:50:34
145       1     6242     3.5  2004-09-10 03:13:24
101       1     3081     4.0  2004-09-10 03:15:43
127       1     4911     4.0  2005-04-02 23:52:41
141       1     5898     3.5  2005-04-02 23:53:22

In [23]:
train1.head()

     userId  movieId  rating            timestamp
79        1     2288     4.0  2004-09-10 03:14:37
84        1     2648     3.5  2004-09-10 03:13:37
39        1     1222     3.5  2005-04-02 23:30:37
100       1     3037     3.5  2005-04-02 23:46:03
86        1     2683     3.5  2004-09-10 03:07:30

Правило обновления в функции __get_pagerank
$$ \vec{x} \leftarrow a P \vec{x} + b \begin{bmatrix} p^{(u)} \vec{x} \\ p^{(u)} \vec{x} \\ \vdots \\ p^{(u)} \vec{x} \end{bmatrix} + c \begin{bmatrix} \frac{1}{n} \cdots \frac{1}{n} \end{bmatrix}^{T}$$

In [44]:





class BaseGraphContext:
    """ Базовый класс, определяющий константы для типов узлов графа. """

    class NodeType(Enum):
        SOURCE = "source"
        TARGET = "target"
        
MappingIntToObject = Mapping[int, Tuple[Any, BaseGraphContext.NodeType]]

class ReadFromPandasMixin():
    
    @classmethod
    def read_pd(cls,
            data: pd.DataFrame,
            source: str, target: str,
            edge_attr: str,
            personalization: Optional[Any] = None) -> 'PageRank':
        """ Создает объект PageRank из данных Pandas DataFrame.

        Args:
            data: DataFrame, содержащий ребра графа.
            source: Название столбца с исходными вершинами ребер.
            target: Название столбца с целевыми вершинами ребер.
            edge_attr: Название столбца с весами ребер.
            personalization: Опциональный объект, для которого будет 
                            персонализирован PageRank. Если None персонализации не будет

        Returns:
            Объект PageRank, инициализированный на основе данных DataFrame.
        """
        
        source_uniq = data[source].unique()
        target_uniq = data[target].unique()

        obj_source_to_N = dict(zip(source_uniq, range(len(source_uniq))))
        obj_target_to_N = dict(zip(target_uniq,
                                   range(len(source_uniq), len(source_uniq) + len(target_uniq))))

        N_to_obj = {}
        N_to_obj.update({i: (obj, BaseGraphContext.NodeType.SOURCE) for i, obj in enumerate(source_uniq)})
        N_to_obj.update({i: (obj, BaseGraphContext.NodeType.TARGET) for i, obj in enumerate(target_uniq, start=len(source_uniq))})
        
        count_top = len(source_uniq) + len(target_uniq)
        data['start_node'] = data[source].apply(lambda x: obj_source_to_N[x])
        data['end_node'] = data[target].apply(lambda x: obj_target_to_N[x])

        transition_matrix = coo_matrix((data[edge_attr], (data['start_node'], data['end_node'])),
                                        shape=(count_top, count_top))

        # Для неориентированного графа
        transition_matrix += transition_matrix.transpose() 
        transition_matrix_csr = transition_matrix.tocsr()
        
        row_sums = transition_matrix_csr.sum(axis=1)
        transition_matrix_csr /= row_sums
        
        if personalization is None:
            return cls(
                transition_matrix_csr,
                None,
                N_to_obj)


        return cls(
            transition_matrix_csr,
            transition_matrix_csr\
                .getrow(obj_source_to_N[personalization])\
                .transpose(),
            N_to_obj)
        

class PageRank(ReadFromPandasMixin):
    """ 
    Код класса является переработкой для конкретной задачи кода из
    https://github.com/danieljunhee/Tutorial-on-Personalized-PageRank/blob/master/Personalized_PageRank_Tutorial.ipynb
    """
    
    def __init__(self,
                transition_matrix_csr: sparse.csr_matrix,
                personalized_vec: Optional[sparse.csr_matrix],
                index_to_object: MappingIntToObject) -> None:
  
        # Запоминаем матрицу переходов, вероятности переходов для персонализируемой вершины,
        # и отображение целых чисел (индексов) в исходные объекты
        (self.__transition_matrix,
         self.__user_person_vec,
         self.__N_to_obj) = (transition_matrix_csr,
                            personalized_vec,
                            index_to_object)
         
          
    def get_pagerank(self,
                     a: float = 0.8,
                     b: float = 0.15,
                     c: float = 0.05,
                     max_iter: int = 100) -> pd.DataFrame:
        """ Вычисляет PageRank для графа.

        Метод итеративно вычисляет персонализированный PageRank с учетом 
        вектора предпочтений `user_person_vec` (если он есть), пока не будет достигнуто 
        максимальное количество итераций (`max_iter`).
        
        Важно: если нет персонализации, то коэфициент при телепортирующей матрице равен b + c

        Args:
            transition_matrix: Матрица переходов графа в формате 
                            разреженной матрицы CSR.
            user_person_vec: Вектор предпочтений пользователя, 
                            представленный разреженной матрицей CSR.
            max_iter: Максимальное количество итераций. По умолчанию 100.
            a: Параметр затухания (damping factor). По умолчанию 0.8.
            b: Параметр телепортации для персонализированного PageRank. 
            По умолчанию 0.15.
            c: Дополнительный параметр, используемый для выравнивания 
            вероятностей. По умолчанию 0.05.

        Returns:
            DataFrame, содержащий две колонки:
                - target: Целевые вершины графа.
                - pagerank: Значения PageRank, соответствующие 
                            целевым вершинам.
        """
        
        if self.__user_person_vec is not None:
            pagerank = self.__get_personalized_pagerank(
                self.__transition_matrix,
                self.__user_person_vec,
                max_iter,
                a, b, c
            )
        else:
            pagerank = self.__get_pagerank(
                self.__transition_matrix,
                max_iter,
                a, b + c
            )
            
         
        target_column = []
        pagerank_column = []
        for ind, el_pagerank in enumerate(pagerank):
            if self.__N_to_obj[ind][1] == BaseGraphContext.NodeType.TARGET:
                target_column.append(self.__N_to_obj[ind][0])
                pagerank_column.append(el_pagerank)

        return pd.DataFrame({BaseGraphContext.NodeType.TARGET.value: target_column , 'pagerank': pagerank_column})
    
    def __get_personalized_pagerank(self,
                       transition_matrix: sparse.csr_matrix,
                       user_person_vec: sparse.csr_matrix,
                       max_iter: int = 100,
                       a: float = 0.8,
                       b: float = 0.15,
                       c: float = 0.05) -> np.ndarray:
        """ Вычисляет персонализированный PageRank для графа.

        Метод итеративно вычисляет персонализированный PageRank с учетом 
        вектора предпочтений `user_person_vec`, пока не будет достигнуто 
        максимальное количество итераций (`max_iter`).

        Args:
            transition_matrix: Матрица переходов графа в формате 
                            разреженной матрицы CSR.
            user_person_vec: Вектор предпочтений пользователя, 
                            представленный разреженной матрицей CSR.
            max_iter: Максимальное количество итераций. По умолчанию 100.
            a: Параметр затухания (damping factor). По умолчанию 0.8.
            b: Параметр телепортации для персонализированного PageRank. 
            По умолчанию 0.15.
            c: Дополнительный параметр, используемый для выравнивания 
            вероятностей. По умолчанию 0.05.

        Returns:
            Одномерный массив NumPy, содержащий значения 
            персонализированного PageRank для каждой вершины графа.
        """
        
        # Initialize PageRank vector: height x 1 vector of all 1/height 's
        # We also represent the PageRank vector as a sparse csr matrix so that every arithmetic operation result
        # is stored as a sparse csr matrix throughout the algorithm... again dealing with sparsity issue & memory issue
        transition_matrix_T_mult_a = a * transition_matrix.transpose()
        user_person_vec_mult_b = b * user_person_vec
        height = transition_matrix.shape[0]
        user_pagerank_vec = sparse.csr_matrix(np.ones((height,1)) / height)
        sup_vec = c*sparse.csr_matrix((1/height)*np.ones((height,1)))


        for i in tqdm(range(max_iter)):         
            # Update!
            user_pagerank_vec = transition_matrix_T_mult_a.dot(user_pagerank_vec) \
                                + user_person_vec_mult_b.multiply(user_pagerank_vec) \
                                + sup_vec 
                                
            if i % 10 == 0:
                user_pagerank_vec /= user_pagerank_vec.sum()
            
        return np.concatenate(user_pagerank_vec.toarray())
    
    
    def __get_pagerank(self,
                       transition_matrix: sparse.csr_matrix,
                       max_iter: int = 100,
                       a: float = 0.85,
                       b: float = 0.15) -> np.ndarray:
        """ Вычисляет PageRank для графа, представленного матрицей переходов.

            Метод итеративно вычисляет PageRank, пока не будет достигнуто 
            максимальное количество итераций (`max_iter`).

            Args:
                transition_matrix: Матрица переходов графа в формате 
                                разреженной матрицы CSR.
                max_iter: Максимальное количество итераций. По умолчанию 100.
                a: Параметр затухания (damping factor). По умолчанию 0.85.
                b: Параметр телепортации для персонализированного PageRank. 
                По умолчанию 0.15.

            Returns:
                Одномерный массив NumPy, содержащий значения PageRank 
                для каждой вершины графа.
        """
        
        # Initialize PageRank vector: height x 1 vector of all 1/height 's
        # We also represent the PageRank vector as a sparse csr matrix so that every arithmetic operation result
        # is stored as a sparse csr matrix throughout the algorithm... again dealing with sparsity issue & memory issue
        
        transition_matrix_T_mult_a = a * transition_matrix.transpose()
        height = transition_matrix.shape[0]
        user_pagerank_vec = sparse.csr_matrix(np.ones((height,1)) / height)
        sup_vec = b * sparse.csr_matrix((1/height)*np.ones((height,1)))

        for i in tqdm(range(max_iter)):         
            # Update!
            user_pagerank_vec = transition_matrix_T_mult_a.dot(user_pagerank_vec) \
                                + sup_vec 
                                
            if i % 10 == 0:
                user_pagerank_vec /= user_pagerank_vec.sum()
            

        return np.concatenate(user_pagerank_vec.toarray())
    

    
     
data_test = pd.DataFrame({
    'source': ['A', 'B', 'B', 'B'],
    'target': ['X', 'X', 'Z', 'C'],
    'edge_attr': [4, 4, 5, 3]
})  
    
pg = PageRank.read_pd(data=data_test, source='source', target='target',
                      edge_attr='edge_attr', personalization='A')
pg.get_pagerank()

100%|██████████| 100/100 [00:00<00:00, 2864.67it/s]

  target  pagerank
0      X  0.130953
1      Z  0.065675
2      C  0.043405

In [45]:
pg = PageRank.read_pd(data, 'userId', 'movieId', 'rating', 1)

In [46]:
prediction_movie_for_user1 = pg.get_pagerank()

100%|██████████| 100/100 [01:46<00:00,  1.07s/it]

In [47]:
print(prediction_movie_for_user1.sort_values(by='pagerank', ascending=False).head())

     target  pagerank
153     318  0.000767
592     296  0.000750
305     356  0.000708
49      593  0.000704
92      260  0.000579

In [48]:
pg_no_pers = PageRank.read_pd(data, 'userId', 'movieId', 'rating')

In [ ]:
pagerank = pg.get_pagerank()

100%|██████████| 100/100 [01:49<00:00,  1.10s/it]

In [49]:
print(prediction_movie_for_user1.sort_values(by='pagerank', ascending=False).head())

     target  pagerank
153     318  0.000767
592     296  0.000750
305     356  0.000708
49      593  0.000704
92      260  0.000579

In [50]:
prediction_movie_for_user1_without_famous = prediction_movie_for_user1[~(prediction_movie_for_user1['target'].isin(train1['movieId']))]
print(len(prediction_movie_for_user1_without_famous))
prediction_movie_for_user1_without_famous.head()

26657

    target  pagerank
87       3  0.000117
88      62  0.000206
89      70  0.000093
90     110  0.000571
91     242  0.000009

In [51]:
# Топ фильмов по мнению pagerank
pred = prediction_movie_for_user1_without_famous.sort_values(by='pagerank', ascending=False).head(len(test1))
print(len(pred))
pred.head()

88

     target  pagerank
153     318  0.000767
592     296  0.000750
305     356  0.000708
92      260  0.000579
95      480  0.000575

In [52]:
def accuracy_without_order(true_labels, predicted_labels):
    true_set = set(true_labels)
    pred_set = set(predicted_labels)
    
    # Проверка на равенство множеств
    accuracy = len(true_set.intersection(pred_set)) / len(true_set)
    
    return accuracy

In [53]:
print(len(test1['movieId']))
test1['movieId'].head()

88

156    7045
145    6242
101    3081
127    4911
141    5898
Name: movieId, dtype: int64

In [56]:
print(len(pred['target']))
pred['target'].head()

88

153    318
592    296
305    356
92     260
95     480
Name: target, dtype: int64

In [58]:
print(accuracy_without_order(test1['movieId'], pred['target']))

0.25

In [59]:
movie_df = pd.read_csv('res/movie.csv')

In [61]:
prediction_moviename = pd.merge(movie_df, pred, left_on='movieId', right_on='target', how='inner')
prediction_moviename.sort_values(by='pagerank', ascending=False).head()

,movieId,title,genres,target,pagerank
21,318,"Shawshank Redemption, The (1994)",Crime|Drama,318,0.000767
19,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,296,0.000750
26,356,Forrest Gump (1994),Comedy|Drama|Romance|War,356,0.000708
16,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,260,0.000579
33,480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,480,0.000575

In [62]:
test_moviename = pd.merge(movie_df, test1, on='movieId', how='inner')
print(len(test_moviename))
test_moviename.sort_values(by='rating', ascending=False).head()

88

,movieId,title,genres,userId,rating,timestamp
73,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy,1,5.0,2005-04-02 23:30:19
87,8636,Spider-Man 2 (2004),Action|Adventure|Sci-Fi|IMAX,1,4.5,2005-04-02 23:44:53
21,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,1,4.5,2005-04-02 23:30:24
20,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,1,4.5,2005-04-02 23:32:22
54,3499,Misery (1990),Drama|Horror|Thriller,1,4.0,2005-04-02 23:35:18

In [63]:
# Фильмы которые были угаданны
test_moviename[test_moviename['movieId'].isin(prediction_moviename['movieId'])]

,movieId,title,genres,userId,rating,timestamp
1,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,1,3.5,2005-04-02 23:33:39
2,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1,3.5,2005-04-02 23:29:40
4,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,1,4.0,2005-04-02 23:33:46
5,293,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller,1,4.0,2005-04-02 23:31:43
6,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1,4.0,2005-04-02 23:32:47
7,318,"Shawshank Redemption, The (1994)",Crime|Drama,1,4.0,2005-04-02 23:33:18
8,541,Blade Runner (1982),Action|Sci-Fi|Thriller,1,4.0,2005-04-02 23:30:03
9,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,1,3.5,2005-04-02 23:45:57
12,1036,Die Hard (1988),Action|Crime|Thriller,1,4.0,2005-04-02 23:44:40
15,1089,Reservoir Dogs (1992),Crime|Mystery|Thriller,1,3.5,2005-04-02 23:31:09
17,1097,E.T. the Extra-Terrestrial (1982),Children|Drama|Sci-Fi,1,4.0,2005-04-02 23:48:21
18,1136,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy,1,3.5,2005-04-02 23:30:09
19,1193,One Flew Over the Cuckoo's Nest (1975),Drama,1,3.5,2005-04-02 23:31:30
20,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,1,4.5,2005-04-02 23:32:22
21,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,1,4.5,2005-04-02 23:30:24
22,1200,Aliens (1986),Action|Adventure|Horror|Sci-Fi,1,4.0,2005-04-02 23:29:20
25,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,1,4.0,2005-04-02 23:43:21
46,2762,"Sixth Sense, The (1999)",Drama|Horror|Mystery,1,4.0,2005-04-02 23:42:47
49,2959,Fight Club (1999),Action|Crime|Drama|Thriller,1,4.0,2004-09-10 03:08:18
60,4226,Memento (2000),Mystery|Thriller,1,3.5,2005-04-02 23:28:13
73,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy,1,5.0,2005-04-02 23:30:19
77,6539,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy,1,4.0,2005-04-02 23:45:08

In [66]:
from typing import Any, List

class O:
    
    def __init__(self, delta: Any) -> None:
        self.delta = delta
        
    def __call__(self, true_score_value: Any) -> int:
        return int(true_score_value > self.delta)
    
class T():
    def __init__(self, delta: Any) -> None:
        self.delta = delta
        
    def __call__(self, pred_value: Any) -> int:
        return int(pred_value > self.delta)

class I():
    
    def __init__(self, pagerankT:T, valuesO: O) -> None:
        self.pagerankT = pagerankT
        self.valuesO = valuesO
        
    def __call__(self, pred_p: Any, true_p: Any,
                 pred_q: Any, true_q: Any) -> int:
        if pred_p >= pred_q and \
            self.valuesO(true_p) < self.valuesO(true_q):
            return 1
        if pred_p <= pred_q and \
            self.valuesO(true_p) > self.valuesO(true_q):
            return 1
        return 0
    
    
class Pairord():
    
    def __init__(self, i: I) -> None:
        self.i = i
        
    def __call__(self, pred_pagerank: List[Any], true_score: List[Any]) -> float:
        metric = len(pred_pagerank) * len(true_score)
        for p in range(len(pred_pagerank)):
            for q in range(len(true_score)):
                metric -= self.i(pred_pagerank[p], true_score[q],
                                        pred_pagerank[q], true_score[p])
            
        metric /= (len(pred_pagerank) * len(true_score))
        
        return metric
    
class Prec():
    
    def __init__(self, o: O, t: T) -> None:
        self.o = o
        self.t = t       
        
    def __call__(self, pred_pagerank: List[Any], true_score: List[Any]) -> float:
        numerator = 0
        denominator = 0
        for p in range(len(pred_pagerank)):
            numerator += self.t(pred_pagerank[p]) * self.o(true_score[p])
            denominator += self.t(pred_pagerank[p])
        
        return numerator / denominator
    
    
class Rec():
    
    def __init__(self, o: O, t: T) -> None:
        self.o = o
        self.t = t       
        
    def __call__(self, pred_pagerank: List[Any], true_score: List[Any]) -> float:
        numerator = 0
        denominator = 0
        for p in range(len(pred_pagerank)):
            numerator += self.t(pred_pagerank[p]) * self.o(true_score[p])
            denominator += self.o(true_score[p])
        
        return numerator / denominator
    
class F1():
    
    def __init__(self, prec: Prec, rec: Rec) -> None:
        self.prec = prec
        self.rec = rec
        
    def __call__(self, pred_pagerank: List[Any], true_score: List[Any]) -> float:
        p = self.prec(pred_pagerank, true_score)
        r = self.rec(pred_pagerank, true_score)
            
        return 2*p*r/(p + r)

In [68]:
for_score = prediction_movie_for_user1.merge(test1, how='inner', left_on='target', right_on='movieId')
o = O(test1['rating'].mean())
t = T(prediction_movie_for_user1['pagerank'].mean())
i = I(t, o)
pairroid = Pairord(i)
print(pairroid(for_score['pagerank'], for_score['rating']))

0.6701962809917356

In [69]:
prec = Prec(o, t)
print(prec(for_score['pagerank'], for_score['rating']))

0.525

In [70]:
rec = Rec(o, t)
print(rec(for_score['pagerank'], for_score['rating']))

0.9333333333333333

In [71]:
f1 = F1(prec, rec)
print(f1(for_score['pagerank'], for_score['rating']))

0.672

In [72]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
pred = np.array(for_score['pagerank'])
true = np.array(for_score['rating'])
pred_map = np.vectorize(lambda x: t(x))
true_map = np.vectorize(lambda x: o(x))

pred_trasformed = pred_map(pred)
true_trasformed = true_map(true)

In [73]:
# Вычисляем метрики
accuracy = accuracy_score(true_trasformed, pred_trasformed)
precision = precision_score(true_trasformed, pred_trasformed)
recall = recall_score(true_trasformed, pred_trasformed)
f1 = f1_score(true_trasformed, pred_trasformed)

# Выводим результаты
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

Accuracy: 0.5340909090909091
Precision: 0.525
Recall: 0.9333333333333333
F1 Score: 0.672