In [2]:
%pip install scipy
%pip install numpy
%pip install pandas
%pip install networkx
%pip install scikit-learn
%pip install tqdm

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\users\odo20\appdata\roaming\python\python312\site-packages (1.12.0)
Requirement already satisfied: numpy<1.29.0,>=1.22.4 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from scipy) (1.26.4)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\odo20\appdata\roaming\python\python312\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\odo20\appdata\roaming\python\python312\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: networkx in c:\users\odo20\appdata\roaming\python\python312\site-packages (3.2.1)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\odo20\appdata\roaming\python\python312\site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\odo20\appdata\roaming\python\python312\site-packages (from scikit-learn) (3.3.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tqdm in c:\users\odo20\appdata\roaming\python\python312\site-packages (4.66.2)
Requirement already satisfied: colorama in c:\users\odo20\appdata\roaming\python\python312\site-packages (from tqdm) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from ranking import *
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score

In [4]:
df = pd.read_csv("res\\movie\\rating.csv")

In [5]:
data, test1, train1 = split_by_target_column_value(df, test_size=0.5, target_column='userId', target_value=1)

In [6]:
data.head()

   userId  movieId  rating            timestamp
0       1     2288     4.0  2004-09-10 03:14:37
1       1     2648     3.5  2004-09-10 03:13:37
2       1     1222     3.5  2005-04-02 23:30:37
3       1     3037     3.5  2005-04-02 23:46:03
4       1     2683     3.5  2004-09-10 03:07:30

In [7]:
test1.head()

     userId  movieId  rating            timestamp
156       1     7045     3.5  2005-04-02 23:50:34
145       1     6242     3.5  2004-09-10 03:13:24
101       1     3081     4.0  2004-09-10 03:15:43
127       1     4911     4.0  2005-04-02 23:52:41
141       1     5898     3.5  2005-04-02 23:53:22

In [8]:
train1.head()

     userId  movieId  rating            timestamp
79        1     2288     4.0  2004-09-10 03:14:37
84        1     2648     3.5  2004-09-10 03:13:37
39        1     1222     3.5  2005-04-02 23:30:37
100       1     3037     3.5  2005-04-02 23:46:03
86        1     2683     3.5  2004-09-10 03:07:30

In [9]:
hits: HITS = HITSFactory().read_pd(data=data, source='userId', target='movieId', edge_attr='rating', personalization=1)

In [10]:
prediction_movie_for_user1 = hits.get_rank()

100%|██████████| 100/100 [02:59<00:00,  1.80s/it]

In [11]:
print(prediction_movie_for_user1.sort_values(by='hubness', ascending=False).head())

       target  authoritativeness       hubness
26355   94419         326.798240  1.162947e+10
26524  118298         490.197360  1.162947e+10
26516  117843         571.896919  1.162947e+10
26517  117845         653.596479  1.162947e+10
26518  117865         408.497800  1.162947e+10

In [12]:
prediction_movie_for_user1_without_famous = prediction_movie_for_user1[~(prediction_movie_for_user1['target'].isin(train1['movieId']))]
print(len(prediction_movie_for_user1_without_famous))
prediction_movie_for_user1_without_famous.head()

26657

    target  authoritativeness       hubness
87       3       2.075201e+09  6.739535e+04
88      62       4.594036e+09  6.893291e+04
89      70       7.436145e+08  1.402555e+06
90     110       1.616562e+10  2.617425e+05
91     242       1.041408e+08  5.479534e+05

In [13]:
pred = prediction_movie_for_user1_without_famous.sort_values(by='authoritativeness', ascending=False).head(len(test1))
print(len(pred))
pred.head()

88

     target  authoritativeness        hubness
592     296       2.193697e+10  258696.843133
153     318       2.138518e+10  229932.054237
305     356       2.013920e+10  215159.211529
329     150       1.967020e+10  234574.781936
157     457       1.933687e+10  313990.593814

In [14]:
def accuracy_without_order(true_labels, predicted_labels):
    true_set = set(true_labels)
    pred_set = set(predicted_labels)
    
    # Проверка на равенство множеств
    accuracy = len(true_set.intersection(pred_set)) / len(true_set)
    
    return accuracy

In [17]:
print(accuracy_without_order(test1['movieId'], pred['target']))

0.14772727272727273

In [18]:
movie_df = pd.read_csv('res\\movie\\movie.csv')

In [20]:
prediction_moviename = pd.merge(movie_df, pred, left_on='movieId', right_on='target', how='inner')
prediction_moviename.sort_values(by='authoritativeness', ascending=False).head()

,movieId,title,genres,target,authoritativeness,hubness
34,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,296,2.193697e+10,258696.843133
38,318,"Shawshank Redemption, The (1994)",Crime|Drama,318,2.138518e+10,229932.054237
44,356,Forrest Gump (1994),Comedy|Drama|Romance|War,356,2.013920e+10,215159.211529
19,150,Apollo 13 (1995),Adventure|Drama|IMAX,150,1.967020e+10,234574.781936
54,457,"Fugitive, The (1993)",Thriller,457,1.933687e+10,313990.593814

In [21]:
test_moviename = pd.merge(movie_df, test1, on='movieId', how='inner')
print(len(test_moviename))
test_moviename.sort_values(by='rating', ascending=False).head()

88

,movieId,title,genres,userId,rating,timestamp
73,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy,1,5.0,2005-04-02 23:30:19
87,8636,Spider-Man 2 (2004),Action|Adventure|Sci-Fi|IMAX,1,4.5,2005-04-02 23:44:53
21,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,1,4.5,2005-04-02 23:30:24
20,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,1,4.5,2005-04-02 23:32:22
54,3499,Misery (1990),Drama|Horror|Thriller,1,4.0,2005-04-02 23:35:18

In [23]:
test_moviename[test_moviename['movieId'].isin(prediction_moviename['target'])]

,movieId,title,genres,userId,rating,timestamp
0,2,Jumanji (1995),Adventure|Children|Fantasy,1,3.5,2005-04-02 23:53:47
1,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,1,3.5,2005-04-02 23:33:39
2,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1,3.5,2005-04-02 23:29:40
4,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,1,4.0,2005-04-02 23:33:46
5,293,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller,1,4.0,2005-04-02 23:31:43
6,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1,4.0,2005-04-02 23:32:47
7,318,"Shawshank Redemption, The (1994)",Crime|Drama,1,4.0,2005-04-02 23:33:18
9,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,1,3.5,2005-04-02 23:45:57
20,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,1,4.5,2005-04-02 23:32:22
21,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,1,4.5,2005-04-02 23:30:24
46,2762,"Sixth Sense, The (1999)",Drama|Horror|Mystery,1,4.0,2005-04-02 23:42:47
49,2959,Fight Club (1999),Action|Crime|Drama|Thriller,1,4.0,2004-09-10 03:08:18
73,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy,1,5.0,2005-04-02 23:30:19

In [24]:

for_score = prediction_movie_for_user1.merge(test1, how='inner', left_on='target', right_on='movieId')
o = O(test1['rating'].mean())
t = T(prediction_movie_for_user1['authoritativeness'].mean())
i = I(t, o)
pairroid = Pairord(i)
pred = np.array(for_score['authoritativeness'])
true = np.array(for_score['rating'])
pred_map = np.vectorize(lambda x: t(x))
true_map = np.vectorize(lambda x: o(x))

pred_trasformed = pred_map(pred)
true_trasformed = true_map(true)

In [25]:
# Вычисляем метрики

accuracy = accuracy_score(true_trasformed, pred_trasformed)
precision = precision_score(true_trasformed, pred_trasformed)
recall = recall_score(true_trasformed, pred_trasformed)
f1 = f1_score(true_trasformed, pred_trasformed)

# Выводим результаты
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)
print("Pairorder:", pairroid(for_score['authoritativeness'], for_score['rating']))

Accuracy: 0.5681818181818182
Precision: 0.5492957746478874
Recall: 0.8666666666666667
F1 Score: 0.6724137931034483
Pairorder: 0.6712293388429752